    /*** Spinner Start ***/

    p {
        font-size: 14px;
    }

    #spinner {
        opacity: 0;
        visibility: hidden;
        transition: opacity .8s ease-out, visibility 0s linear .5s;
        z-index: 99999;
    }

    #spinner.show {
        transition: opacity .8s ease-out, visibility 0s linear .0s;
        visibility: visible;
        opacity: 1;
    }

    /*** Spinner End ***/
    /*** Button Start ***/

    .btn {
        font-weight: 600;
        transition: .5s;
    }

    .btn-square {
        width: 38px;
        height: 38px;
    }

    .btn-sm-square {
        width: 32px;
        height: 32px;
    }

    .btn-md-square {
        width: 46px;
        height: 46px;
    }

    .btn-lg-square {
        width: 58px;
        height: 58px;
    }

    .btn-square,
    .btn-sm-square,
    .btn-md-square,
    .btn-lg-square {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: normal;
    }

    .back-to-top {
        position: fixed;
        width: 50px;
        height: 50px;
        right: 30px;
        bottom: 30px;
        z-index: 99;
    }

    .duedslider {
        object-fit: cover;
        width: 100%;
    }

    /*** Button End ***/
    /*** Topbar Start ***/

    .topbar .top-info {
        letter-spacing: 1px;
    }

    .topbar .top-link {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .topbar .top-link a {
        margin-right: 10px;
    }

    #note {
        width: 400px;
        overflow: hidden;
    }

    #note small {
        position: relative;
        display: inline-block;
        animation: mymove 5s infinite;
        animation-timing-function: all;
    }

    @keyframes mymove {
        from {
            left: -100%;
        }

        to {
            left: 100%;
        }
    }

    /*** Topbar End ***/
    /*** Navbar Start ***/

    .navbar .navbar-nav {
        padding: 15px 0;
    }

    .navbar .navbar-nav .nav-link {
        padding: 10px;
        /* color: var(--bs-white); */
        color: black;
        font-size: 16px;
        outline: none;
        position: relative;
    }

    .navbar .navbar-nav .nav-link::after {
        content: "";
        background-color: black;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 0;
        transition: 0.2s;
    }

    .navbar .navbar-nav .nav-link:hover::after {
        background-color: #4141EA;
        width: 100%;
    }


    .navbar .navbar-nav .nav-link:hover,
    .navbar .navbar-nav .nav-link.active {
        color: #4141EA !important;
        /* color: #00df7f; */
    }

    .navbar .dropdown-toggle::after {
        border: none;
        content: "\f107";
        font-family: "font awesome 5 free";
        font-weight: 900;
        vertical-align: middle;
        margin-left: 8px;
    }

    @media (min-width: 992px) {
        .navbar .nav-item .dropdown-menu {
            display: block;
            visibility: hidden;
            top: 100%;
            transform: rotateX(-75deg);
            transform-origin: 0% 0%;
            transition: .5s;
            opacity: 0;
        }
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }

    /*** Navbar End ***/
    /*** Carousel Start ***/

    .carousel-item {
        position: relative;
    }

    .carousel-item::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        /* background: rgba(0, 0, 0, .2); */
    }

    .carousel-caption {
        height: 100%;
        /* display: flex; */
        align-items: center;
        justify-content: center;
        z-index: 1;
    }

    .carousel-item p {
        max-width: 700px;
        /* margin: 0 auto 35px auto; */
    }

    .carousel-control-prev {
        width: 46px;
        height: 48px;
        position: absolute;
        top: 50%;
        left: 0;
        background: var(--bs-primary);
        border-radius: 0 50px 50px 0;
        opacity: 1;
    }

    .carousel-control-prev:hover {
        background: var(--bs-secondary);
        transition: .8s;
    }

    .carousel-control-next {
        width: 46px;
        height: 48px;
        position: absolute;
        top: 50%;
        right: 0;
        background: var(--bs-primary);
        border-radius: 50px 0 0 50px;
        opacity: 1;
    }

    .carousel-control-next:hover {
        background: var(--bs-secondary);
        transition: .8s;
    }

    .carousel-caption .carousel-content a button.carousel-content-btn1 {
        background: var(--bs-secondary);
        color: var(--bs-dark);
        opacity: 1;
        border: 0;
        border-radius: 20px;
    }

    /* dgdgdfgdfg */
    #cardCarousel {
        position: relative;

        /* background: linear-gradient(transparent 60%, rgba(0, 0, 0, 0.75)); */
        background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.459));
        width: 100%;
    }

    .homebutton {
        padding: 10px;
        background-color: #000129;
        border-radius: 8px;

    }

    .homebutton a {
        color: white;
        font-size: 14px;
        transition: 0.9s;
    }

    .homebutton a:hover {
        color: #007f01;
        font-weight: 700;
    }

    .slide22btn {
        background-color: transparent !important;
        padding: 8px 20px !important;
        outline: none;
        border: 0.2px solid black;
    }

    .textBefore {
        padding-left: 10px;
        border-left: 1px solid white;
    }

    #cardCarousel img.overlay {
        /* mix-blend-mode: overlay; */
    }

    /* dgdgdfgdfg */

    .carousel-caption .carousel-content a button.carousel-content-btn1:hover {
        background: var(--bs-primary);
        color: #ffffff;
        border: 0;
        opacity: 1;
        transition: 1s;
        border-radius: 20px;
    }

    .carousel-caption .carousel-content a button.carousel-content-btn2 {
        background: var(--bs-primary);
        color: var(--bs-white);
        opacity: 1;
        border: 0;
        border-radius: 20px;
    }

    .carousel-caption .carousel-content a button.carousel-content-btn2:hover {
        background: var(--bs-secondary);
        color: var(--bs-dark);
        border: 0;
        opacity: 1;
        transition: 1s;
        border-radius: 20px;
    }

    #carouselId .carousel-indicators li {
        width: 12px;
        height: 12px;
        background: #11c7b5;
        margin: 10px;
        border-radius: 41px;
        opacity: 1;
    }

    #carouselId .carousel-indicators li:hover {
        background: var(--bs-secondary);
        opacity: 1;
    }

    @media (max-width: 992px) {
        .carousel-item {
            min-height: 500px;
        }

        .carousel-item img {
            min-height: 500px;
            object-fit: cover;
        }

        .carousel-item h1 {
            font-size: 40px !important;
        }

        .carousel-item p {
            font-size: 16px !important;
        }
    }

    @media (max-width: 768px) {
        .carousel-item {
            min-height: 400px;
        }

        .carousel-item img {
            min-height: 520px;
            object-fit: cover;
        }

        .carousel-item h1 {
            font-size: 28px !important;
        }

        .carousel-item p {
            font-size: 14px !important;
        }
    }

    /* .page-header {
        background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../img/carousel-1.jpg) center center no-repeat;
        background-size: cover;
    } */




    .page-header .breadcrumb-item+.breadcrumb-item::before {
        color: var(--bs-white);
    }

    .page-header .breadcrumb-item,
    .page-header .breadcrumb-item a {
        font-size: 18px;
        color: var(--bs-white);
    }

    /*** Carousel End ***/
    /*** Services Start ***/

    .mlmServices .services-item {
        box-shadow: 0 0 60px rgba(0, 0, 0, .2);
        width: 100%;
        height: 100%;
        border-radius: 10px;
        padding: 10px 0;
        position: relative;
    }

    .services-content::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 0;
        top: 0;
        left: 0;
        border-radius: 10px 10px 0 0;
        background: rgba(3, 43, 243, 0.8);
        transition: .5s;
    }

    .services-content::after {
        top: 0;
        bottom: auto;
        border-radius: 10px 10px 10px 10px;
    }

    .services-item:hover .services-content::after {
        height: 100%;
        opacity: 1;
        transition: .5s;
    }

    .services-item:hover h5 {
        color: white;
    }

    .services-item:hover .rotateBox {
        border: 1px dashed white;
    }

    .services-item:hover .services-content-icon {
        position: relative;
        z-index: 2;
    }

    .services-item .services-content-icon i,
    .services-item .services-content-icon p {
        transition: .5s;
    }

    .services-item:hover .services-content-icon i {
        color: var(--bs-secondary) !important;
    }

    .services-item:hover .services-content-icon p {
        color: var(--bs-white);
    }

    .mlmServices {
        background-color: #f7f7f7;
    }

    /*** Services End ***/
    /*** Project Start ***/

    .project-img {
        position: relative;
        padding: 15px;
    }

    .project-img::before {
        content: "";
        position: absolute;
        width: 150px;
        height: 150px;
        top: 0;
        left: 0;
        background: var(--bs-secondary);
        border-radius: 10px;
        opacity: 1;
        z-index: -1;
        transition: .5s;
    }

    .project-img::after {
        content: "";
        width: 150px;
        height: 150px;
        position: absolute;
        right: 0;
        bottom: 0;
        background: var(--bs-primary);
        border-radius: 10px;
        opacity: 1;
        z-index: -1;
        transition: .5s;
    }

    .project-content {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
    }

    .project-content a {
        display: inline-block;
        padding: 20px 25px;
        background: var(--bs-primary);
        border-radius: 10px;
    }

    .project-item:hover .project-content {
        opacity: 1;
        transition: .5s;
    }

    .project-item:hover .project-img::before,
    .project-item:hover .project-img::after {
        opacity: 0;
    }

    /*** Project End ***/
    /*** Blog Start ***/

    .blog-item .blog-btn {
        z-index: 2;
    }

    .blog-btn .blog-btn-icon {
        height: 50px;
        position: relative;
        overflow: hidden;
    }

    .blog-btn-icon .blog-icon-2 {
        display: flex;
        position: absolute;
        top: 6px;
        left: -140px;
    }

    .blog-btn-icon:hover .blog-icon-2 {
        transition: 1s;
        left: 5px;
        top: 6px;
        padding-bottom: 5px;
    }

    .blog-icon-1 {
        position: relative;
        top: -4px;
    }

    .blog-btn-icon:hover .blog-icon-1 {
        top: 0;
        right: -140px;
        transition: 1s;
    }

    /*** Blog End ***/
    /*** Team Start ***/

    .team-item {
        border-top: 30px solid var(--bs-secondary) !important;
        background: rgba(239, 239, 241, 0.8);
    }

    .team-content::before {
        height: 200px;
        display: block;
        content: "";
        position: relative;
        top: -101px;
        background: var(--bs-secondary);
        clip-path: polygon(50% 50%, 100% 50%, 50% 100%, 0% 50%);
        padding: 60px;
        opacity: 1;
    }

    .team-img-icon {
        position: relative;
        margin-top: -200px;
        padding: 30px;
        padding-bottom: 0;
    }

    .team-img {
        border: 15px solid var(--bs-white);
    }

    .team-img img {
        border: 10px solid var(--bs-secondary);
        transition: .5s;
    }

    .team-item:hover h4 {
        color: var(--bs-primary);
        transition: .5s;
    }

    .team-item:hover .team-img img {
        transform: scale(1.05);
        border: 10px solid var(--bs-secondary);
    }

    .team-carousel .owl-stage {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .team-carousel .owl-nav {
        position: absolute;
        top: -100px;
        right: 50px;
        display: flex;
    }

    .team-carousel .owl-nav .owl-prev,
    .team-carousel .owl-nav .owl-next {
        width: 56px;
        height: 56px;
        border-radius: 56px;
        margin-left: 15px;
        background: var(--bs-secondary);
        color: var(--bs-white);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .5s;
    }

    .team-carousel .owl-nav .owl-prev:hover,
    .team-carousel .owl-nav .owl-next:hover {
        background: var(--bs-primary);
        color: var(--bs-white);
    }

    @media (max-width: 992px) {
        .team-carousel {
            margin-top: 3rem;
        }

        .team-carousel .owl-nav {
            top: -85px;
            left: 50%;
            right: auto;
            transform: translateX(-50%);
            margin-left: -15px;
        }
    }

    /*** Team End ***/
    /*** Testimonial Start ***/



    .testimonial-carousel .owl-dots {
        margin-top: 15px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .testimonial-carousel .testi-dot {
        position: relative;
        display: inline-block;
        margin: 0 5px;
        width: 15px;
        height: 15px;
        background: #c1dad0;
        border-radius: 15px;
        transition: .5s;
    }

    .testimonial-carousel .testi-dot.active {
        width: 30px;
        background: #2C2CA1;
    }

    .testimonial-carousel .owl-item.center {
        position: relative;
        z-index: 1;
    }

    .testimonial-carousel .owl-item .testiCard {
        transition: .5s;
    }

    .testimonial-carousel .owl-item.center .testiCard {
        /* background-image: url("../../img/test2.png"); */
        background-position: center;
        /* box-shadow: 0 0 30px #DDDDDD; */
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    /*** Testimonial End ***/
    /*** Contact Start ***/

    .contact-fluid {
        background-image: url("../../img/footer-base.png");

    }

    .address {
        padding-left: 15px;
    }

    .dudecontact {
        font-size: 24px !important;
    }

    .contact-detail {
        border: 1px dashed white;

    }

    .add_borrrrr {
        border: 0.2px solid white;
        border-radius: 10px;
    }

    .input-transparent {
        background-color: transparent;

    }

    .input-transparent:focus {
        background-color: transparent;
        border: 0.2px solid blue;
    }

    /* .contact-detail::before {
        position: absolute;
        content: "";
        height: 50%;
        width: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(rgb(210, 243, 235, 1), rgba(230, 250, 245, .3)), url(../img/background.jpg) center center no-repeat;
        background-size: cover;
        border-radius: 10px;
        z-index: -1;
    } */

    .contact-map {
        background: #26d48c;
    }

    .contact-form {
        background: #26d48c;
    }

    /*** Contact End ***/
    /*** Footer Start ***/

    .footer .short-link a,
    .footer .help-link a,
    .footer .contact-link a {
        transition: .5s;
    }

    .footer .short-link a:hover,
    .footer .help-link a:hover,
    .footer .contact-link a:hover {
        letter-spacing: 1px;
    }

    .footer .hightech-link a:hover {
        background: #00ffd9;
        border: 0;
    }

    /*** Footer End ***/
    /*homepage start */

    .dued-up {
        transition: 0.9s !important;
    }

    .dued-up:hover {
        background-color: red !important;
        /* border: 1px dotted black; */
    }

    .dued-up:hover i {
        color: white !important;
    }



    .bg_button_gradient {
        background-color: #4141ea;
        outline: none;
        border-radius: 25px;
        border: 0px;
        padding: 8px 15px;
    }


    .bg_counter_box {
        background: rgba(255, 255, 255, 0);
        /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        padding: 45px 20px;
        border: 1px solid rgba(255, 255, 255, 0.18);
    }



    .counter h1 {
        color: aquamarine;
    }

    .About__bg {
        background-color: #f7f7ff;
    }

    .text-justify {
        text-align: justify;
    }

    .all_link_color {
        color: #1072b6;
        font-weight: 800;
    }

    .all_link_color:hover {
        color: green;
    }

    .header_txt_grd {
        color: #1be5d3;
    }

    .mainHeadi {
        font-size: 32px !important;
    }

    .text-summary {
        color: #1072b6;
    }

    .text-violet {
        color: #2C2CA1;
    }

    .exploer__bg {
        background-color: #F0F0F0;
    }


    .com_txt {
        background: linear-gradient(to right, #58C6E2 0%, white 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .about_plan {
        background: transparent;
        box-shadow: 0 3px 2px 0 rgba(31, 38, 135, 0.37);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid #ffffff;
        padding: 10px;
        width: 82%;
        transition: 0.5s;
    }

    .about_plan:hover {
        background-color: rgba(128, 128, 128, 0.082);
        box-shadow: none;
        transform: translateX(-10px);
        border: 0.2px solid rgba(0, 0, 0, 0.144)
    }

    .dis_co_btn {
        padding: 8px;
        border-radius: 25px;
        border: none;
        color: white;
        transition: 0.5s;
        background: conic-gradient(from 317deg at 100% 66%, #515EDF 0%, #515EDF 50%, #727ADB 100%);
    }

    .dis_co_btn:hover {
        background: transparent;
        border: 0.5px solid black;
        color: black !important;
    }



    .text-green {
        color: #007f01;
    }

    .text-secondary22 {
        color: #69e36b;
    }

    .text-heddd {
        color: #007f01;
    }

    .text-heddd2 {
        color: #6cdf6d;
    }

    .descri {
        text-align-last: center;
    }

    .box {
        border-radius: 15px;
        height: 240px;
        border: 0.5px solid #00000052;
        transition: 0.9s;
    }


    #subTextBanner {
        position: absolute;
    }

    .box:hover {
        background: #f7f7f7;
        transform: translateY(-10px);
        border: 0.5px solid #000000;
    }

    .box:hover .set_bg_img {
        transform: scaleZ(1.4);
    }

    .testimonial_slider_bg {
        background-color: #FFF7EF;
    }


    .set_bg_img {
        background-color: #ED730B;
        padding: 10px;
        border-radius: 50%;
        margin: 5px 0px;
    }



    .image-container img {
        position: relative;
        overflow: hidden;
        width: 100%;
        transition: all 0.9s;
    }

    .hoverUpp:hover .image-container img {
        width: 150px;
    }


    .hoverUpp {
        transition: all 0.5s;
        border-radius: 0px 0px 15px 15px;
    }

    .hoverUpp:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }

    .hoverUppnew {
        border: 1px solid black;
        border-radius: 0px 15px 5px 0px;
        position: relative;
        /* width: 300px;
        height: 200px; */
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .hoverUppnew::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        border-radius: 0px 15px 5px 0px;
        background-color: #18a7e8;
        transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
        opacity: 0;
        z-index: 1;
    }

    .hoverUppnew:hover::before {
        width: 100%;
        height: 100%;
        opacity: 1;
        z-index: 1;
        transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    }


    .hverSectionImg {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 1px solid black;
        position: relative;
        z-index: 1;
    }

    .contentNeww {
        position: relative;
        z-index: 1;
    }




    .hoverUppnew:hover .hverSectionImg {
        background-color: #ffffff;
        border: 1px dashed green;
    }

    .hoverUppnew:hover .contentNeww>h5 {
        color: rgb(40 36 227);
    }

    .hoverUppnew:hover .contentNeww>p {
        color: #ffffff;
    }


    .suuyy {
        /* border-radius: 10px; */
        width: 100%;
    }











    .set-pdd {
        padding: 14px 10px 39px;
    }

    .set_feature_bg {
        background: linear-gradient(102deg, rgba(147, 60, 166, 0.68) 0%, rgba(42, 74, 175, 0.83) 50%, rgba(2, 4, 9, 0.88) 100%);
    }

    .set_gradient_box {
        background: rgba(255, 255, 255, 0.05);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        transition: 0.9s;
    }

    .set_gradient_box p {
        padding: 10px;
    }

    .cccard11 {
        /* padding: 10px 15px;
        border: 1px solid red;
        border-radius: 10px; */
    }

    .rotateBox {
        border-radius: 50%;
        height: 120px;
        width: 120px;
        position: relative;
        border: 1px dashed black;
        animation: rotate 20s linear infinite;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-rotate {
        position: absolute;
    }



    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .bu-bg {
        /* background-color: #; */
        /* color:#bbb; */
    }

    .img_radius {
        border-radius: 0px 0px 150px 150px;
        height: 350px;
    }

    .more_btm_padd {
        padding: 10px 10px 32px;
    }

    .set_bg_color {
        background: linear-gradient(101deg, rgba(204, 119, 237, 1) 0%, rgba(223, 129, 207, 1) 50%, rgba(223, 129, 207, 1) 100%);
        border-radius: 189px 183px 0px 0px;
        width: 271px;
        height: 351px;
        display: flex;
        justify-content: center;
    }

    .campatible {
        padding: 20px;
        height: 220px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transition: 0.9s;
    }

    .campatible:hover {
        box-shadow: none;
        border: 1px solid skyblue;
        background-color: transparent;
        color: black;
    }

    .set_bg_is {
        background: linear-gradient(to right, #0172af0a, #74febd26);
    }





    .set_font-size {
        font-size: 26px;
    }

    /*homepage end */
    /* binary plan start */

    .set_remark_bg {
        /* color: white; */
        /* background-color: #161c33; */
    }

    .set_pros_bg {
        /* background-color: black;
        color: white;
    } */
    }

    .props_box {
        background: linear-gradient(142deg, rgba(11, 11, 11, 1) 0%, rgba(29, 55, 50, 1) 50%, rgba(29, 55, 50, 1) 100%);
        border-radius: 10px;
        height: 191px;
        transition: 0.9s;
    }

    .props_box:hover {
        background: linear-gradient(to left, #6366f1, #a855f7, #ec4899);
        box-shadow: rgba(253, 253, 253, 0.35) 0px 5px 15px;
    }

    .props_img {
        width: 50px;
    }



    .hor_card {
        border: 0.5px solid black;
        /* border-radius: 15px; */
        padding: 10px 12px;
        transition: 0.9s;
        margin: 0px 5px;
    }



    .set_font-size2 {
        font-size: 35px;
    }

    .border_bb {
        border-bottom: 3px solid #026cd9;
        display: inline-block;
        border-radius: 9px;
    }

    /* binary plan end */
    /* matrix plan start */

    .set_rel {
        position: relative;
    }

    .set_matr_bg {
        /* background-color: #000129;
        color: white; */
    }

    .set-dotted {
        border-top: 1px dotted black;
        border-right: 1px dotted black;
        border-bottom: 1px dotted black;
        border-radius: 5px;
    }

    .set-dotted_2 {
        border-top: 1px dotted black;
        border-left: 1px dotted black;
        border-bottom: 1px dotted black;
        border-radius: 5px;
    }

    .set-dotted_img {
        border-top: 1px dotted black;
        border-left: 1px dotted black;
        border-bottom: 1px dotted black;
        border-radius: 5px;
    }

    .set_strong_bg {
        /* background-color: #000000;
        color: white; */
    }

    .set_matr_bg2 {
        /* background: linear-gradient(137deg, rgba(217, 252, 248, 1) 0%, rgba(250, 235, 228, 1) 100%); */
    }

    .reeelative {
        border: 0.9px solid black;
        padding: 15px;
        border-radius: 18px;
        transition: 0.5s;
    }

    .button_gradient {
        padding: 8px 25px;
        border-radius: 25px;
        border: none;
        background: linear-gradient(to left, #eab308, #ec4899);
        outline: none;
        transition: 0.9s;
    }

    .button_gradient:hover {
        background: transparent;
        border: 0.5px solid white;
    }

    .journey_bg {
        /* background: linear-gradient(137deg, rgb(254 104 167 / 34%) 0%, rgb(233 31 100 / 29%) 50%, rgb(202 12 71 / 24%) 100%); */
        color: black;
    }

    .reeelative:hover {
        background-color: #1e293b;
    }

    .set_heading {
        font-size: 35px;
    }

    .start_abs img {
        border-radius: 0px 0px 96px 96px;
    }

    .set_blur_section {
        width: 329px;
        height: 300px;
        position: absolute;
        left: -107px;
        border-radius: 0px 150px 150px 0px;
        bottom: -52%;
        background-color: #06084185;
    }


    .set_glass {
        /* background: linear-gradient(45deg, #e879f92e, transparent); */
        box-shadow: 0 8px 32px 0 rgba(31, 135, 78, 0.226);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.185);
        position: relative;
        height: 151px;
    }

    .set_glass:hover {
        border: 1px solid rgb(0, 0, 0);
    }

    /* matrix plan end */
    /* demo start */

    .caller_img {
        border-radius: 0px 0px 169px 169px;
    }

    /* demo end */
    /* about page start */

    .set_abbb_bg {
        background-color: #EEF1F5;
    }





    .set_quality {
        background-color: #23a81808;
    }

    /* .set_about_bg {
        background-color: #3f3f468f;
        padding: 5px 15px;
        display: inline-block;
        color: white;
        border-radius: 15px;
    } */
    /* about page end */





    /* matrix section start */
    .set_bg_matrix_img {
        background-image: url("../../img/matrix_bg.jpg");
        background-size: cover;
        /* background-position: center center; */
        background-attachment: fixed;
        background-repeat: no-repeat;
        /* height: 400px; */
    }

    /* matrix section end */
    /* matrix section end */

    /* unilevel start */
    .set_bg_uni {
        /* background-image: linear-gradient(to left, rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.37)), url("../../img/uni_bg.jpg");
        background-size: cover; */
    }

    .set_img_rad {
        border-radius: 0px 0px 120px 120px;
    }

    .set-flex {
        display: flex !important;
        justify-content: center !important;
    }

    /* unilevel end */
    /* generation start */
    .set_gen {
        background-color: #f5f5f5;
    }



    /* generation end */


    /* faq start */

    .faq_head {
        margin: 50px 0 30px;
        text-align: center;
    }

    .faqs-container {
        margin: 0 auto;
        max-width: 600px;
    }

    .faq {
        background-color: transparent;
        border: 1px dotted #1a4ba5;
        border-radius: 10px;
        padding: 20px 10px;
        position: relative;
        overflow: hidden;
        margin: 20px 0;
        transition: 0.3s ease;
    }

    .faq.active {
        background-color: #f7f7f7;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
    }

    .faq.active::after,
    .faq.active::before {
        color: #2ecc71;
        /* content: '\f075'; */
        font-family: 'Font Awesome 5 Free';
        font-size: 7rem;
        position: absolute;
        opacity: 0.2;
        top: 20px;
        left: 20px;
        z-index: 0;
    }

    .faq.active::before {
        color: #3498db;
        top: -10px;
        left: -30px;
        transform: rotateY(180deg);
    }

    .faq-title {
        margin: 0 35px 0 0;
    }

    .faq-text {
        display: none;
        margin: 30px 0 0;
    }

    .faq.active .faq-text {
        display: block;
    }

    .faq-toggle {
        background-color: transparent;
        border: none;
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        padding: 0;
        position: absolute;
        top: 14px;
        right: 30px;
        height: 30px;
        width: 30px;
    }

    .faq-toggle:focus {
        outline: none;
    }



    .faq-toggle .fa-times {
        display: none;
    }

    .faq.active .faq-toggle .fa-times {
        display: block;
        color: red;
    }

    .faq-toggle .fa-chevron-down {
        color: #83888E;
    }

    .faq.active .faq-toggle .fa-chevron-down {
        display: none;
    }

    .rotate_set {
        rotate: 270deg;
    }

    .faq_font {
        font-size: 109px;
        color: rgba(213, 213, 223, 0.5019607843);
    }



    /* faq end */

    /* digital section start */
    .set_digital_bg {
        background-color: #f7f7f7;
        /* color: white; */
    }

    .add_border-curve {
        border-top: 1px dotted black;
        border-right: 1px solid black;
        border-bottom: 1px dotted black;
        border-color: #02D9BF;
        position: relative;
    }

    .add_border-curve2 {
        border-left: 1px dotted black;
        border-bottom: 1px dotted black;
        position: relative;
    }

    .add_border-curve3 {
        border-right: 1px dotted black;
        border-bottom: 1px dotted black;
        border-color: #eab308;
        position: relative;

    }

    .new_look {
        height: 250px;
        width: 380px;
        background-color: #2c2ca1;
        border-radius: 10px;
        position: relative;
        transition: 0.5s;

    }

    .new_look:hover {
        background-color: #2c72ee;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    }

    #lgMargin {
        margin-top: 72px;
    }

    .hd {
        display: flex;
        justify-content: center;
    }

    .imgBorderRounded {
        position: absolute;
        z-index: 10000;
        top: -28%;
        background-color: #000129;
        height: 100px;
        width: 100px;
        left: 36%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border: 9px solid white;
        border-radius: 50px;
        transition: 0.9s;
    }

    .new_look:hover .imgBorderRounded {
        transform: translateY(-10px);
    }

    .ptext {
        position: absolute;
        bottom: 40px;
        padding: 10px;
    }

    .ptext2 {

        padding: 10px;
    }

    .choose_bgg {
        background-color: #f1e8f0;
    }

    .rounded_smmm {
        background-color: black;
        padding: 8px;
        /* border-radius: 25%; */
    }

    .sm_flex {
        display: flex;
        justify-content: center;
    }

    .add_curve {
        height: 450px;
        width: 450px;
        background-color: black;
        box-shadow: 10px 10px 10px #02D9BF;
        border-radius: 50%;
    }

    #iconNavg {
        transition: all 0.9s;
    }

    #iconNavg:hover {
        transform: translateY(-5px);
    }

    .set_color {
        border: 1px solid darkblue;
        border-radius: 15px;
        transition: 0.5s;
        color: black;
    }

    .set_color:hover {
        /* background-color: #1e293b; */
    }

    .input-transparent::before {
        background-color: transparent;
    }

    .input-transparent::after {
        background-color: transparent;
    }

    .he {
        color: #26ac38;
    }

    .color {
        background-color: #0ae4d9;
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }

    .head_tt {
        padding-left: 30px;
    }

    .lg_flex {
        display: flex;
    }

    .testDib {
        height: 70px;
        width: 70px;
        padding: 8px;
        background-color: #3744d685;
        border-radius: 50px;
    }

    .testImgg {
        width: 50px !important;
    }

    .lg_center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* digital section end */
    /* helping plan start */
    .set_funding_bg {
        /* background: linear-gradient(90deg, rgba(15, 21, 33, 1) 0%, rgba(15, 21, 33, 1) 65%);
        color: white; */
    }

    .help_img {
        background: linear-gradient(90deg, rgb(234 214 238 / 3%) 0%, rgb(160 241 234 / 21%) 100%);
    }

    /* helping plan end */

    /* mlm plan start */
    .mlm_plan_bg {

        color: black;
    }

    .text_slate {
        color: #bbb;
    }

    .explore__bg {
        background-color: #f7f7f7;
    }

    .hov-effect {
        transition: 0.9s;
        color: white;
    }

    .hov-effect:hover {
        color: black;
        background-color: transparent;
        border: 0.5px solid blue;
    }

    .border_doo {
        border-top: 1px dashed black;
        border-bottom: 1px dashed black;
        border-right: 1px dashed black;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 20px;
    }

    .border_doo2 {
        padding: 20px;
        border-top-left-radius: 5px;
        border-bottom: 1px dashed black;
        border-left: 1px dashed black;

    }

    .border_doo3 {
        padding: 20px;
        border-right: 1px dashed black;
        border-bottom: 1px dashed black;
        transition: 0.9s;
    }

    .border_doo3:hover {
        border-color: #00f57c;

    }



    .plan_des {
        border-left: 2px solid #005018;
        border-top-left-radius: 15px;
        border-top: 1px solid #005018;
        border-right: 1px solid #005018;
        border-bottom-left-radius: 0px;
        border-bottom: 1px solid #005018;
        border-bottom-right-radius: 15px;
        transition: 0.9s;
    }

    .text-sny {
        color: #9ab1f1;
    }

    .text-sny:hover {
        color: #07b3ff !important;
    }

    .plan_des:hover {
        border-top-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        border-radius: 0px;
        border-left: 1px solid #000000;

    }

    .faq-toggle i {
        padding-left: 45px;
    }

    .success_img {
        height: 250px;
    }

    .add-border-bottom {
        border-bottom: 0.5px solid white;
    }

    #btnEffectt {
        transition: all 0.9s;
        /* filter: drop-shadow(8px 8px 2px #000000); */
    }



    #btnEffectt:hover {
        filter: none;
    }

    /* footer start */
    #footerLinks {
        transition: all 0.9s;
    }

    .appclick {
        border: 1px solid black;
        border-radius: 8px;
        background-color: white;
    }

    #footerLinks:hover {
        color: #07b3ff !important;
    }

    #paddt {
        color: #0930dd;
        /* color: #2c2ca1; */
    }

    .objectCoverImg {
        object-fit: cover;
    }

    .fffffbg {
        background-color: #f7f7f7;
    }

    #xaxis {
        transition: 0.5s;
    }

    .showPopup:hover #xaxis {
        margin-left: 20px !important;
    }

    .movementArrowww {
        height: 100px;
        rotate: 119deg;
        position: absolute;
        top: 55px;
        right: 257px;
        animation: arrtt 2.5s linear infinite;
    }



    @keyframes arrtt {
        0% {
            transform: translate(0px, 0px);
        }

        100% {
            transform: translate(10px, 0px);
        }

        /* 100% {
            transform: translate(-15px, 0px);
        } */
    }


    /* footer end */


    /* mlm plan end */


    /* media section start */

    @media (min-width: 0px) and (max-width: 576px) {
        .com_txt {
            text-align: center;
        }

        .about_plan {
            width: 100%;
        }

        .dued_why {
            width: 100%;
        }

        .check {
            color: red;
        }

        .success_img {
            width: 100%;
        }

        .set_glass {
            min-height: 227px;
            /* min-height: 254px; */
        }

        .set_img_rad {
            width: 100%;
        }

        .page_binary {
            margin-top: 0px;
            background: linear-gradient(rgb(0 0 0 / 21%), rgb(0 0 0 / 25%)), url(../../img/banner_binary.png) center center no-repeat !important;
            background-size: contain !important;
            height: 80px !important;


        }

        .jeyidea {
            display: none;
        }




        .caller_img {
            width: 100%;
        }

        .sm_none {
            display: none;
        }

        .campatible {
            height: 260px;
        }

        .lg_center {
            display: none;
        }

        .img_radius {
            width: 100%;
        }

        .matrix-img {
            width: 100%;
        }

        .unilevel-img {
            width: 100%;
        }

        .ho-img1 {
            width: 100%;
        }

        .crowdimg {
            width: 100%;
        }

        .carousel-caption2 {
            display: flex;
            align-items: center;
        }

        #mobileNn {
            display: none !important;
        }

        .carousel-caption {
            position: absolute;
            right: 15%;
            bottom: 2.25rem;
            left: 15%;
            /* padding-top: 1.25rem; */
            padding-top: 5.25rem;
            padding-bottom: 1.25rem;
            color: #fff;
            /* text-align: center; */
        }

        .carousel-indicators {

            margin-bottom: 0rem;

        }

        .groth56 {
            width: 100%;
        }

        .sm--about {
            display: flex;
            justify-content: center;
        }

        .smaboutimg {
            display: flex;
            justify-content: center;
        }

        /* .contact-detail::before {
            position: absolute;
            content: "";
            height: 50%;

            top: 0;
            background-size: cover;
            border-radius: 10px;
            z-index: -1;
        } */
        .display-1 {
            font-size: 2.5rem
        }

        .exp-img {
            width: 100%;
        }

        .onepng {
            width: 100%;
        }

        .softwareHHome {
            width: 100%;
        }

        .featImg {
            width: 100%;
        }

        .addntage {
            width: 100%;
        }

        .bg-primary__gradient {
            background: linear-gradient(140deg, rgba(49, 51, 160, 0.54) 0%, rgba(59, 134, 210, 0.55) 49%, rgba(156, 223, 83, 0.58) 100%);
        }

        .counter {
            display: flex;
            flex-direction: column;
            /* justify-content: center; */
            align-items: center;
            border-right: none;
        }

        .imgaeWrapperstart {
            display: none;
        }

        #lgMarginsm {
            margin-top: 65px !important;
        }


        .box_drive {
            background-color: #2c2ca1;
            color: white;
            height: 200px;
            text-align: center;
            border-radius: 0px 0px 15px 15px;

        }

        .movementArrowww {
            display: none;
        }

        .testiCard {
            height: 350px;
            /* background-image: url("../../img/testiBox.png"); */
            /* background-color: #000000; */
            border-radius: 10px;
            border: 0.5px solid rgba(0, 0, 0, 0.473) !important;
        }

        #textBannerSet {
            position: absolute;
            top: 25px;
           padding-left: 29px!important;
            padding: 0px;
        }
        .display-2 {
            font-size: 15px;
            margin-bottom: 5px!important;
        }

    }

    @media (min-width:578px) and (max-width:768px) {
        .check {
            color: green;
        }

        #lgMarginsm {
            margin-top: 65px !important;
        }

        .set_glass {
            min-height: 148px;
        }

        .sm_none {
            display: none;
        }

        .movementArrowww {
            display: none;
        }

        .ho-img1 {
            width: 100%;
        }

        .dued_why {
            width: 350px;
        }

        .jeyidea {
            display: none;
        }



        .exp-img {
            width: 300px;
        }



        .carousel-caption {
            position: absolute;
            right: 15%;
            bottom: -2.75rem;
            left: 15%;
            /* padding-top: 1.25rem; */
            padding-top: 5.25rem;
            padding-bottom: 1.25rem;
            color: #fff;
            /* text-align: center; */
        }



        .color {
            display: none;
        }

        .matrix-img {
            width: 100%;
        }

        .bg-primary__gradient {
            background: linear-gradient(140deg, rgba(49, 51, 160, 0.54) 0%, rgba(59, 134, 210, 0.55) 49%, rgba(156, 223, 83, 0.58) 100%);
        }

        .unilevel-img {
            width: 100%;
        }

        .crowdimg {
            width: 100%;
        }

        .counter {
            display: flex;
            flex-direction: column;
            /* justify-content: center; */
            align-items: center;
            border-right: none;
        }


        .box_drive {
            background-color: #2c2ca1;
            color: white;
            height: 200px;
            text-align: center;
            border-radius: 0px 0px 15px 15px;

        }

        #textBannerSet {
            position: absolute;
            top: 5px;
            left: 10%;
        }

        .testiCard {
            height: 350px;
            /* background-image: url("../../img/testiBox.png"); */
            /* background-color: #000000; */
            border-radius: 10px;
            border: 0.5px solid rgba(0, 0, 0, 0.308) !important;
            margin: 0px 4px;
        }
        .display-2 {
            font-size: 30px;
            margin-bottom: 10px!important;
        }
    }

    @media (min-width:768px) and (max-width:992px) {
        .sm_none {
            display: none;
        }

        .ho-img1 {
            width: 100%;
        }

        .set_glass {
            min-height: 148px;
        }

        .lg_center {
            display: none;
        }

        .jeyidea {
            display: none;
        }

        .exp-img {
            width: 300px;
        }

        .movementArrowww {
            display: none;
        }

        .box_drive {
            background-color: #2c2ca1;
            color: white;
            height: 255px;
            text-align: center;
            border-radius: 0px 0px 15px 15px;
        }



        #lgMarginsm {
            margin-top: 65px !important;
        }

        .carousel-caption {
            position: absolute;
            right: 15%;
            bottom: -2.75rem;
            left: 15%;
            /* padding-top: 1.25rem; */
            padding-top: 5.25rem;
            padding-bottom: 1.25rem;
            color: #fff;
            /* text-align: center; */
        }



        .bg-primary__gradient {
            background: linear-gradient(140deg, rgba(49, 51, 160, 0.54) 0%, rgba(59, 134, 210, 0.55) 49%, rgba(156, 223, 83, 0.58) 100%);
        }

        .dued_why {
            width: 100%;
        }

        .campatible {
            height: 260px;
        }

        .smaboutimg2 {
            display: flex;
            justify-content: center;
        }

        .set_bg_coor {
            display: none;
        }

        .counter {
            display: flex;
            flex-direction: column;
            /* justify-content: center; */
            align-items: center;
            border-right: none;
        }

        .box_drive {
            background-color: #2c2ca1;
            color: white;
            height: 200px;
            text-align: center;
            border-radius: 0px 0px 15px 15px;

        }

        #textBannerSet {
            position: absolute;
            top: 32px;
            left: 10%;
        }

        .testiCard {
            height: 350px;
            /* background-image: url("../../img/testiBox.png"); */
            /* background-color: #000000; */
            border-radius: 10px;
            border: 0.5px solid rgba(0, 0, 0, 0.473) !important;
            margin: 0px 4px;
        }

        .display-2 {
            font-size: 30px;
            margin-bottom: 10px!important;
        }
    }

    @media (min-width:992px) and (max-width:1200px) {
        .set_glass {
            min-height: 197px;
        }

        .sm_none {
            display: none;
        }

        .matrix-img {
            width: 350px;
        }

        .unilevel-img {
            width: 350px;
        }

        .jeyidea {
            display: none;
        }

        .counter {
            display: flex;
            flex-direction: column;
            /* justify-content: center; */
            align-items: center;
            border-right: none;
        }

        .movementArrowww {
            display: none;
        }

        .display-2 {
            font-size: 35px;
            margin-bottom: 10px!important;
        }

        .bg-primary__gradient {
            background-color: transparent !important;
            position: relative;
            z-index: 100000;
        }

        #paddt {
            padding-top: 138px;
            font-size: 30px;
        }



        .slideTop {
            position: relative !important;
            margin-top: -70px !important;
            z-index: -10000 !important;
        }


        .box_drive {
            background-color: #2c2ca1;
            color: white;
            height: 200px;
            text-align: center;
            border-radius: 0px 0px 15px 15px;

        }

        .testiCard {
            height: 350px;
            /* background-image: url("../../img/testiBox.png"); */
            /* background-color: #000000; */
            border-radius: 10px;
            border: 0.5px solid rgba(0, 0, 0, 0.466) !important;
            margin: 0px 4px;
        }

        #textBannerSet {
            position: absolute;
            top: 42px;
            left: 10%;
        }

        .exp-img {
            width: 350px !important;
        }

    }

    @media (min-width:1200px) and (max-width:1400px) {
        .slide_button {
            position: fixed;
            z-index: 1000;
            /* right: 0; */
            right: -34px;
            top: 57% !important;
            transform: rotate(270deg);
        }


        .bg-primary__gradient {
            background-color: transparent !important;
            position: relative;
            z-index: 100000;
        }

        .slideTop {
            position: relative !important;
            margin-top: -70px !important;
            z-index: -10000 !important;
        }


        #paddt {
            padding-top: 75px;
        }

        .exp-img {
            width: 300px !important;
        }
    }

    @media (min-width:1200px) {
        .sm_none {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .matrix-img {
            width: 350px;
        }

        #sliderFont {
            font-size: 15px !important;
        }

        .leftPdf {
            height: 350px;
            margin-left: -63px;
            border-top: 1px dashed black;
            border-right: 1px dashed black;
            border-bottom: 1px dashed black;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        .pdfde {
            border: 1px dashed black;
            width: 400px;
            height: 420px;
        }

        .movementArrowww {
            height: 95px;
            rotate: 119deg;
            position: absolute;
            top: 55px;
            right: 253px;
            animation: arrtt 2.5s linear infinite;
        }

        .unilevel-img {
            width: 350px;
        }

        .address {
            padding-left: 15px;
        }

        .carousel-caption {

            padding-top: 12.25rem;

        }

        .testiCard {
            height: 350px;
            /* background-image: url("../../img/testiBox.png"); */
            /* background-color: #000000; */
            border-radius: 10px;
            border: 0.5px solid rgba(0, 0, 0, 0.479) !important;
            margin: 0px 4px;
        }

        .slide_button {
            position: fixed;
            z-index: 1000;
            /* right: 0; */
            right: -34px;
            top: 50% !important;
            transform: rotate(270deg);
        }

        .bg-primary__gradient {
            background-color: transparent !important;
            position: relative;
            z-index: 100000;
        }

        .slideTop {
            position: relative !important;
            margin-top: -70px !important;
            z-index: 10000 !important;
            height: 92vh !important;
        }

        #paddt {
            padding-top: 75px;
        }

        .counter {
            display: flex;
            flex-direction: column;
            /* justify-content: center; */
            align-items: center;
            border-right: 1px solid black;
        }


        .jeyidea {
            position: absolute;
            top: -28px;
            right: 36%;
            rotate: 69deg;
        }

        .jeyidea img {
            height: 60px;
        }



        .contentAArea {
            position: absolute;
            top: 0px;
            opacity: 0;
        }

        .box_drive {
            background-color: #2c2ca1;
            color: white;
            height: 220px;
            text-align: center;
            border-radius: 0px 0px 15px 15px;

        }

        .rightPdf {
            height: 350px;
            margin-right: -32px;
            border-top: 1px dashed black;
            border-left: 1px dashed black;
            border-bottom: 1px dashed black;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        #textBannerSet {
            position: absolute;
            top: 56px;
            left: 10%;
        }

    }

    @media (min-width:1400px) {
        .carousel-caption {
            padding-top: 15.25rem;
        }

        .counter {
            display: flex;
            flex-direction: column;
            /* justify-content: center; */
            align-items: center;
            border-right: 1px solid black;
        }

        .testiCard {
            height: 290px;
            margin: 0px 20px;
        }

        .exp-img {
            width: 350px !important;
        }

        .movementArrowww {
            height: 100px;
            rotate: 119deg;
            position: absolute;
            top: 55px;
            right: 346px;
            animation: arrtt 2.5s linear infinite;
        }



        .leftPdf {
            height: 350px;
            margin-left: -140px;
            border-top: 1px dashed black;
            border-right: 1px dashed black;
            border-bottom: 1px dashed black;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        #textBannerSet {
            position: absolute;
            top: 80px;
            left: 10%;
        }

        .pdfde {
            border: 1px dashed black;
            width: 400px;
            height: 420px;
        }

        .rightPdf {
            height: 350px;
            margin-right: -70px;
            border-top: 1px dashed black;
            border-left: 1px dashed black;
            border-bottom: 1px dashed black;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }



        .contentAArea {
            position: absolute;
            top: 0px;
            opacity: 0;
        }

        .jeyidea {
            position: absolute;
            top: -28px;
            right: 38%;
            rotate: 69deg;
        }

        .jeyidea img {
            height: 60px;
        }

        .box_drive {
            background-color: #2c2ca1;
            color: white;
            height: 200px;
            text-align: center;
            border-radius: 0px 0px 15px 15px;

        }

    }

    #textArrange {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .testiCard:hover {
        border: 1px solid black !important;
    }